@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@100;300&family=Roboto+Condensed:wght@400;700&display=swap');
* {
    background-color: #036a84;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Poppins;
    background: no-repeat;
    background-size: cover;
}
.main{
    background-image: url(media/background.jpg);
    
    backdrop-filter: blur(50px);
    
}

.sub-main{
 
    background: linear-gradient(-45deg,#1c6d70,#000000);
    color:#eaf6ff;
}


.search-icon{
    color: #e6e6e6;
    
}

#location::first-letter {
    text-transform:capitalize;
}
#descM::first-letter {
    text-transform:capitalize;
}
#search-div{
    height: 3rem;
    
    min-width: 3rem;
    max-width: 30rem;
    border: solid 0.2rem #a5a5a5;
    
}

body::-webkit-scrollbar {
    display: none !important;
}

#search{
    border: none;
    outline: none;
    height: 2.5rem;
    max-width: 30rem;
    color: #000000;
    font-weight: bold;
}
#search::placeholder{
    color: #b00000;
}

#desc1::first-letter {
    text-transform:capitalize;
}
#desc2::first-letter {
    text-transform:capitalize;
}
#desc3::first-letter {
    text-transform:capitalize;
}
#desc4::first-letter {
    text-transform:capitalize;
}

#tempM{
    font-size: 15vmax;
    font-family: Oswald, sans-serif;
    font-weight: bold;
}
#location{
    font-size: 5vmax;
    
}
#date{
    font-weight: bold;
}
#descM{
    font-weight: bold;
}
#fiveDay::-webkit-scrollbar{
    display: none !important;
}
#fiveDay h1,h3,h4{
    font-weight: bold;
}
#fiveDay h1{
    font-family: Oswald, sans-serif;
    font-size: 3rem;
}
#fiveDay{
    border-radius: 0.5rem;
    font-weight: bold;
    overflow-x: scroll;
    display: flex;
    
}
#fiveDayTiles{
    min-width: 10rem;
    max-width: 25rem;
    min-height: 15rem;
    max-height: 20rem;
    margin-right: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}
#fiveDayTiles:hover{
    opacity: 90%;
}
#fiveDayTiles:nth-child(odd){
    background-color: #140819;
    color: #939393;
    
}
#fiveDayTiles:nth-child(even){
    background-color: #111e02fe;
    color: #4a4646;
}
